# Ignore the local assets directory
src/.env

# Terraform-specific
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage